@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-lato: 'Lato', sans-serif;

  --color-azul: #123498;
  --color-azul-marino: #096ACC;
  --color-naranja: #F46F0B;
  --color-amarillo: #FDB907;
  --color-rojo: #CE0B19;
  --color-turquesa: #41C4C0;
  --color-gris: #A3A3A3;
}

body {
  font-family: 'Lato', sans-serif;
}